<div class="d-flex flex-column video-card">
    <div class="w-100 top">
        <iframe class="w-100 h-100" style="border-radius: inherit;" [src]="safeLink" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="w-100 p-3 bottom" (click)="abrirModal()">
        <div class="w-100 d-flex justify-content-between">
            <h2 class="mb-3">{{ sinal.nome }}</h2>
            <p class="px-4 py-1 tag">{{ sinal.categoria }}</p>
        </div>
        <p class="descricao">{{ sinal.descricao }}</p>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="visualizar" tabindex="-1" aria-labelledby="visualizarLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered w-100">
        <div class="w-100">
            <div class="w-100 mb-4 d-flex justify-content-end">
                <div class="d-flex justify-content-center align-items-center modal-btn">
                    <button type="button" class="btn-close m-0 p-0" data-bs-dismiss="modal" aria-label="Fechar"
                        style="display: block;"></button>
                </div>
            </div>
            <div class="modal-content w-100" style="height: 1000px;">
                <div class="modal-body text-center p-0">
                    <div class="w-100 modalb-top">
                        <iframe class="w-100 h-100" style="border-radius: inherit;" [src]="safeLink"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="w-100 p-5 d-flex flex-column justify-content-start align-items-start">
                        <h1 class="mb-2" style="font-size: 32px; font-weight: 600;">{{ sinal.nome }}</h1>
                        <p class="px-4 py-1 tag mb-3" style="font-size: 14px;">{{ sinal.categoria }}</p>

                        <h2 class="mt-4">Contextualização</h2>
                        <p class="modal-descricao">{{ sinal.descricao }}</p>

                        <div class="mt-4 w-100 p-3 d-flex align-items-center gap-3 aluno-card">
                            <div class="imagem">
                                <img src="/assets/images/default-user.jpg" alt="Foto do Aluno" width="40" height="40"
                                    matTooltip="Foto do Aluno">
                            </div>
                            <div>
                                <h3 class="mb-1 aluno-nome">
                                    {{sinal.aluno}}</h3>
                                <p class="m-0" style="font-size: 14px;">{{sinal.turma}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>