<div class="d-flex flex-column video-card">
    <div class="w-100 top">
        <iframe class="w-100 h-100" style="border-radius: inherit;" [src]="safeLink" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="w-100 p-3 bottom" (click)="abrirModal()">
        <div class="w-100 d-flex justify-content-between">
            <h2 class="mb-3">{{ sinal.nome }}</h2>
            <p class="px-4 py-1 tag">{{ sinal.categoria }}</p>
        </div>
        <p class="descricao">{{ sinal.descricao }}</p>
    </div>
</div>