.video-card {
    height: 350px;
    width: 380px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(#000, .15);
    background-color: white;
}

.top {
    height: 60%;
    background-color: #3f454b;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.bottom {
    height: 40%;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

.tag {
    font-size: 12px;
    font-weight: 600;
    background-color: #f2f0f7;
    border-radius: 15px;
}

.descricao {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    font-size: 14px;
    font-weight: 500;
    color: #627383
}

.video-card:hover {
    box-shadow: 0 1rem 3rem rgba(#000, .175);
}

