<nav class="navbar navbar-expand-lg navbar-light pb-3" style="background-color: #F4F5F8;">
    <div class="container-fluid container">
        <div class="imagem">
            <img src="assets/images/logo-unitins.jpg" alt="Logo da Unitins" matTooltip="Logo da Unitins">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="#videos">Sinais</a>
                <a class="nav-link" href="#footer">Informações</a>
            </div>
        </div>
    </div>
</nav>

<div class="w-100 pb-5" style="background-color: #F4F5F8;">
    <div class="container principal d-flex flex-column justify-content-center align-items-center">
        <h1 class="mb-4" style="font-size: 45px; color: white; font-weight: 600; width: 65%; text-align: center; ">
            Glossário de Sinais
            em LIBRAS do curso de Sistemas de Informação</h1>
        <p style="color: white; text-align: center; font-size: 16px; width: 90%;">Encontre aqui os sinais dos principais
            termos do curso de Sistemas de Informação.
        </p>
    </div>
</div>

<div class="container videos my-5" id="videos">
    <div class="w-100 d-flex justify-content-between title-card">
        <div>
            <h1 style="font-size: 32px; font-weight: 500; color: #1e1e1e;">Glossário de Sinais</h1>
            <p class="mt-2" style="font-size: 14px; font-weight: 500;">
                Foram encontrados {{ sinais.length }} sinais
            </p>
        </div>

        <div class="d-flex gap-2 flex-wrap categorias-card">
            <mat-chip *ngFor="let cat of categorias" (click)="selecionarCategoria(cat.nome)"
                [ngClass]="{ 'chip-ativo': categoriaAtiva === cat.nome }" class="px-3 py-2">
                <mat-icon matChipAvatar>category</mat-icon>
                {{ cat.nome }}
            </mat-chip>

        </div>

    </div>

    <div class="mb-3 mt-5 d-flex justify-content-between align-items-center form-floating">
        <input type="text" class="form-control" id="pesquisar"
            placeholder="Pesquise um termo do curso de Sistemas de Informação" [(ngModel)]="pesquisa"
            (input)="filtrar()">
        <label for="pesquisar">Pesquise um termo do curso...</label>

        <div class="d-flex justify-content-center align-items-center pesquisar-btn">
            <button type="button" class="btn-search m-0 p-0" aria-label="Pesquisar">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>

    <ul class="nav justify-content-center mt-3">
        <li class="nav-item" *ngFor="let letra of 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('')">
            <a class="nav-link"  [ngClass]="{ 'letra-ativa': letraAtiva === letra }" [class.active]="letraAtiva === letra" (click)="selecionarLetra(letra)"
                style="cursor: pointer;">
                {{ letra }}
            </a>
        </li>
    </ul>

    <div class="container w-100 justify-content-center px-0 d-flex flex-wrap gap-5  mt-5">
        <app-video-card *ngFor="let item of sinaisPaginados" [sinal]="item" (selecionar)="abrirModal($event)">
        </app-video-card>
    </div>

    <app-modal [sinal]="sinalSelecionado" (fechado)="sinalSelecionado = null"></app-modal>

    <div class="w-100 d-flex justify-content-center align-items-center" *ngIf="filtrados && filtrados.length <= 0">
        <p style="font-style: italic; color: black;">Nenhum sinal encontrado.</p>
    </div>

    <nav class="nav-pagination mt-5" *ngIf="filtrados && filtrados.length > 0">
        <ul class="pagination justify-content-center align-items-center">
            <li class="page-item" [class.disabled]="paginaAtual === 1">
                <a class="page-link" (click)="mudarPagina(paginaAtual - 1)">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                        class="arrow">
                        <path d="M560-253.85 333.85-480 560-706.15 602.15-664l-184 184 184 184L560-253.85Z" />
                    </svg>
                </a>
            </li>

            <li class="page-item" *ngFor="let pagina of [].constructor(totalPaginas); let i = index"
                [class.active]="(i + 1) === paginaAtual">
                <a class="page-link" (click)="mudarPagina(i + 1)">{{ i + 1 }}</a>
            </li>

            <li class="page-item" [class.disabled]="paginaAtual === totalPaginas">
                <a class="page-link" (click)="mudarPagina(paginaAtual + 1)">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                        class="arrow">
                        <path d="m517.85-480-184-184L376-706.15 602.15-480 376-253.85 333.85-296l184-184Z" />
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div id="footer" class="w-100 pt-5 footer" style="background-color: #003180; min-height: 300px;">
    <div class="container top pt-4 d-flex justify-content-between w-100">
        <div class="d-flex flex-column justify-content-start gap-3 align-items-center w-50">
            <div class="d-flex gap-2 justify-content-start align-items-center w-100">
                <div class="imagem" style="background-color: white; border-radius: 10px; width: 40px;">
                    <img src="assets/images/logo-u.jpg" alt="Logo da Unitins" matTooltip="Logo da Unitins">
                </div>
                <h1 class="mb-0" style="color: white; font-size: 24px;">Glossário</h1>
            </div>
            <p style="color: rgb(237, 237, 237); font-size: 12px; font-weight: 500;">Desenvolvido pelos alunos de
                Sistemas de Informação (2025), na disciplina de LIBRAS da Prof. Thamara
                Cristina, este glossário tem como propósito facilitar o aprendizado e promover a inclusão dos termos do
                curso.
            </p>
        </div>

        <div class="d-flex flex-column mt-3">
            <h3 class="mb-3" style="color: white; font-size: 20px; font-weight: 500;">Saiba Mais</h3>
            <a style="color: rgb(237, 237, 237); text-decoration: none;" class="mb-3"
                href="https://www.unitins.br/nPortal/sistemas-de-informacao-palmas" target="_blank">Curso</a>
            <a style="color: rgb(237, 237, 237); text-decoration: none;" href="https://lattes.cnpq.br/9412948667139401"
                target="_blank">Professora</a>
        </div>
    </div>
    <div class="container mt-5 mb-3" style="width: 100%; height: 0.5px; background-color: #f1f1f1;"></div>
    <div class="w-100 d-flex justify-content-center align-items-center my-2" style="color: #f1f1f1; font-size: 12px;">
        <small>&copy; 2025 Curso de Sistemas de Informação — Glossário de Sinais em LIBRAS — Iad Moraes</small>
    </div>
</div>