.pagination {
    gap: 1%;
}

.arrow,
.page-link {
    color: rgb(0, 0, 0, 0.87);
}

.page-item:first-child .page-link,
.page-item:last-child,
.page-link,
.page-item:last-child .page-link {
    border-radius: 100%;
}

.page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 0;
    font-weight: 500;
    box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.page-item.disabled>.page-link {
    box-shadow: none;
    background-color: white;
    fill: rgb(0, 0, 0, 0.30)
}

.page-item.active>.page-link {
    background-color:#003C84;
    border-color: #003C84;
    color: white;
}

.border-bottom-left-radius {
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}


input {
    min-height: 50px;
    border-radius: 25px;
    width: 95%;
    padding-left: 25px;
}

.pesquisar-btn {
    width: 50px;
    height: 50px;
    border-radius: 999999px;
    cursor: pointer;
    background-color: #f2f0f7;
}


.btn-search {
    width: 100%;
    height: 100%;
    display: block;
    background-color: transparent;
    border: none;
}